/*** Start Article ***/
article {
  margin: 100px 0;
}

article > div {
  flex-wrap: wrap;
  gap: 4%;
}

article .article {
  flex-basis: 48%;
  overflow: hidden;
  margin-bottom: 4%;
  cursor: pointer;
  transition: var(--transition);
}

@media (max-width: 767px) {
  article > div {
    flex-direction: column;
    gap: 4%;
  }

  article .article {
    flex-basis: 100%;
  }
}

article .article:hover {
  opacity: 0.5;
}

article .article img {
  max-width: 100%;
}

article .article > div {
  padding: 30px;
}

article .article .date {
  font-weight: 800;
  color: #888;
}

article .article div h2 {
  font-size: 23px;
  margin: 30px 0 20px;
  line-height: 1.6;
}

article .article div p {
  font-size: 16px;
  margin-bottom: 17px;
}

article .article .hints span {
  border: 1px solid rgb(0 161 198 / 30%);
  padding: 5px 10px;
  margin-left: 8px;
  font-size: 15px;
  color: var(--base-color);
  font-weight: 700;
}

article .more-articles {
  font-size: 13px;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 8px;
}

article .more-articles:hover {
  background-color: rgb(0 130 160);
}

/*** End Article ***/