.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m-0 {
  margin: 0;
}

.rad-5 {
  border-radius: 5px;
}

.rad-10 {
  border-radius: 10px;
}

.rad-20 {
  border-radius: 20px;
}

.border-eee {
  border: 1px solid #ddd;
}

.title-head {
  position: relative;
  text-align: center;
  color: var(--base-color);
  font-size: 35px;
  margin: 0 auto 65px;
  width: fit-content;
}

.title-head::before,
.title-head::after {
  content: '';
  position: absolute;
  background-color: var(--base-alt-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -1;
}

.title-head::before {
  left: -5px;
  top: -12px;
}

.title-head::after {
  right: -17px;
  top: 5px;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: minmax(200px, 1fr);
    gap: 20px;
  }

  .title-head {
    font-size: 1.6em;
  }

  .second-title {
    text-align: center;
    font-size: 1.3em;
  }
}


.main {
  padding: 40px 0;
  background-color: rgb(0 161 198 / 5%);
}

/*** Start Title ***/
.title {
  text-align: center;
  width: 800px;
  margin: 50px auto 10px;
}

.title h1 {
  margin-bottom: 20px;
  color: var(--second-color);
  font-size: 40px;
  font-weight: 800;
}

.title p {
  font-size: 16px;
}

@media (max-width: 767px) {
  .title {
    width: 100%;
  }

  .title h1 {
    font-size: 28px;
  }

  .title p {
    font-size: 15px;
  }
}

/*** End Title ***/